
html {
  background-color: #141414;
  color:#fff;
  padding:0;
  margin:0;

}
.neon {
color:#c4f82a;
}

.cardBackground{
  background-color: #1f1f1f
}
.linkBackground{
background-color: #333333;  

}

.container{
  height:99vh;
  width:99vh;
  overflow: hidden;
}
.link{
  color:#fff;
  text-decoration:none;
  font-weight:600
}
.link:hover{
  color:#c4f82a;
}
